.card-pelicula {
  aspect-ratio: 1/1.1;
}

.card-pelicula .imagen-pelicula {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.card-pelicula .titulo-pelicula {
  color: #fff;
  text-align: right;
}

.contenedor-favoritos {
  color: #fff;
  display: flex;
  font-size: 1.3em;
}

.contenedor-favoritos input {
  display: none;
}
.contenedor-favoritos label p{
  margin-bottom: 0;
}

.agregarFav,
.quitarFav {
  display: flex;
  flex-direction: row;
  border: 5px #fff solid;
  border-radius: 5px;
  padding: 1em 2em ;
  transition: all 0.2s ease;
  cursor: pointer;
}

.agregarFav i,
.quitarFav i {
  margin-right: 0.5em;
}

.agregarFav:hover{
 background-color: #fff;
}
.agregarFav:hover i,
.agregarFav:hover p{
  color: #0d2037;
}

.quitarFav{
  background-color: #fff;
}

.quitarFav i,
.quitarFav p{
  color: #0d2037;
}

.quitarFav:hover{
  background-color: transparent;
}

.quitarFav:hover i,
.quitarFav:hover p{
  color: #fff;
}


@media screen and (min-width: 500px) {
  .card-pelicula .imagen-pelicula {
    height: 90%;
  }

  .card-pelicula .titulo-pelicula {
    font-size: 1.2em;
  }
}
