nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .link.active {
  color: #c48900;
}

.usuario-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.usuario-nav p {
  margin-left: 0.5em;
  margin-bottom: 0;
}

p.link {
  margin-bottom: 0;
}
p.link:hover {
  color: #c48900;
}

.wrapper-login,
.wrapper-home {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.wrapper-login {
  gap: 15px;
}

.wrapper-home {
  font-size: 2em;
  gap: 15px;
}

.wrapper-login .link,
.wrapper-home .link {
  position: relative;
}

.wrapper-login .link:hover::before {
  transform: scale(1);
}

.default-foto {
  height: 1em;
  aspect-ratio: 1/1;
  background-color: rgb(84, 151, 240);
  border-radius: 100em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin-bottom: 0;
  margin-right: 0.2em;
}


a.registro.link.foto.link.active,
a.registro.link.foto.link:hover{
  color: #fff;
}

.nav-userneme:hover{
 color: #c48900;
}

.foto-nav{
  height: 2em;
  aspect-ratio: 1/1;
  border-radius: 100vh;
  object-fit: cover;
  margin-right: 0.5em;
}

p.cerrar-sesion{
  cursor: pointer;
}